<div class="body">
  <div class="container">
    <h2>Mi Finca</h2>

      <div class="form-crear">
        <div class="card">
          <div class="card-body">
            <h3 *ngIf="fincaExiste">Editar Finca</h3>
            <h3 *ngIf="!fincaExiste">Crear Finca</h3>
            <div class="input-group">
              <label><strong>Nombre de la Finca:</strong></label>
              <input [(ngModel)]="nombre" placeholder="Ingrese nombre de la finca" />
            </div>
            <div class="input-group">
              <label><strong>Extensión en hectáreas:</strong></label>
              <input [(ngModel)]="extension" type="number" placeholder="Ingrese extensión en hectáreas" />
            </div>
            <div class="input-group">
              <label><strong>Latitud:</strong></label>
              <input [(ngModel)]="latitud" type="text" placeholder="Ingrese latitud" />
            </div>
            <div class="input-group">
              <label><strong>Longitud:</strong></label>
              <input [(ngModel)]="longitud" type="text" placeholder="Ingrese longitud" />
            </div>
            <div class="input-group">
              <label><strong>Vereda:</strong></label>
              <select [(ngModel)]="vereda">
                <option *ngFor="let veredav of veredas;" [value]="veredav.id">
                  {{ veredav.vereda }}
                </option>
              </select>
            </div>
            <div class="input-group">
              <label><strong>Tipo de Predio:</strong></label>
              <select [(ngModel)]="tipo_predio">
                <option *ngFor="let tipo of tiposPredio;" [value]="tipo.id">
                  {{ tipo.tipo_predio }}
                </option>
              </select>
            </div>
          </div>
          <div class="card-actions">
            <button *ngIf="fincaExiste" class="btn-primary" (click)="saveFinca()">Editar Finca</button>
            <button *ngIf="!fincaExiste" class="btn-secondary" (click)="crearFinca()">Crear Finca</button>
          </div>
        </div>
      </div>

  </div>
</div>
