<div class="container">
    <div class="header">
        <img src="assets/imagenes/logo_anuc.png" alt="Logo">
        <span id="tituloAnuc">ASOCIACIÓN MUNICIPAL DE USUARIOS CAMPESINOS DE FLORIDABLANCA</span>
    </div>
    <div class="content">
        <div class="login-container">
            <h2>Ingresa una nueva contraseña segura</h2>
            <p>Digita una contraseña y confirmala para poder ingresar</p>
            <form>
                <input type="password" placeholder="Contraseña" required>
                <input type="password" placeholder="Confirmar contraseña" required>
                <button type="submit">Continuar</button>
            </form>
            <small>
                Al hacer click en continuar estás aceptando nuestros   
                <a href="#">Términos de Servicio</a> y 
                <a href="#">Políticas de Privacidad</a>
            </small>
        </div>
    </div>
    

</div>
    