<div class="container">
    <div class="header">
        <div class="left">
            <img src="assets/imagenes/logo_anuc_edited.png" alt="Logo" class="logo-header">
            <button id="menu-btn" class="menu-btn" (click)="openMenu()">☰ Menú</button>
        </div>
        <span id="tituloAnuc">ASOCIADO ANUC</span>
        <img id="profile_icon" src="assets/iconos/profile_icon.png" alt="Profile" class="profile-icon" (click)="toggleProfileMenu()">
        <div id="profile-menu" class="profile-menu">
            <button id="openModalBtn" class="open-modal-btn" (click)="openModal()">Cambiar Contraseña</button>
            <button (click)="cerrarSesion()">Cerrar Sesión</button>
        </div>
    </div>

    <div id="overlay" class="overlay" (click)="closeMenu()"></div>

    <div id="menu" class="side-menu">
        <div class="menu-header">
            <img src="assets/imagenes/logo_anuc_edited.png" alt="ANUC Logo" class="logo">
            <button class="close-btn" (click)="closeMenu()">×</button>
        </div>
        <div class="menu-content">
            <h2>Administrar Perfil</h2>
            <ul>
                <li>
                    <img src="assets/iconos/home_icon.png" alt="Admin Asociados" class="icon">
                    <a routerLink="inicio-asociado" (click)="closeMenu()">Inicio</a>
                </li>
                <li>
                    <img src="assets/iconos/edit_user_icon.png" alt="Admin Asociados" class="icon">
                    <a routerLink="edit-datos-asociado" (click)="closeMenu()">Editar datos personales</a>
                </li>
                <li>
                    <img src="assets/iconos/edit_location_icon.png" alt="Mapa Asociados" class="icon">
                    <a routerLink="edit-ubicacion-asociado" (click)="closeMenu()">Editar ubicación</a>
                </li>
                <li>
                    <img src="assets/iconos/edit_productos_icon.png" alt="Mapa Asociados" class="icon">
                    <a routerLink="edit-productos-asociado" (click)="closeMenu()">Editar productos</a>
                </li>
                <li>
                    <img src="assets/iconos/gestionar_nucleo_familiar_icon.png" alt="nucleo familiar Asociados" class="icon">
                    <a routerLink="gestionar-nucleo-familiar" (click)="closeMenu()">Gestionar núcleo familiar</a>
                </li>
            </ul>
            <h2>Servicios ANUC</h2>
            <ul>
                <li>
                    <img src="assets/iconos/publicacion_oferta_icon.png" alt="Oferta asociado" class="icon">
                    <a routerLink="oferta-asociado" (click)="closeMenu()">Publicación de Ofertas</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
      
        <router-outlet (openMenuEvent)="handleMenuEvent()"></router-outlet>
    </div>
</div>
<!-- Modal -->
<div id="passwordModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Cambiar Contraseña</h2>
      <form (submit)="onSubmit()">
        <div class="input-group">
          <label for="password">Nueva Contraseña</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <div class="input-group">
          <label for="confirmPassword">Confirmar Contraseña</label>
          <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit" class="btn-submit">Actualizar Contraseña</button>
      </form>
    </div>
  </div>
  