.container {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #00332c;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.header .left {
    display: flex;
    align-items: center;
}

.header img.logo-header {
    height: 50px; /* Ajusta el tamaño del logo */
    margin-right: 20px;
}

#tituloAnuc {
    font-size: 18px; /* Tamaño de fuente fijo */
    margin: 0; /* Asegúrate de que el margen sea cero */
    color: #000000; /* Color del texto */
    position: absolute; /* Posición absoluta */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición para centrar */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.profile-icon {
    height: 40px; /* Mantén el tamaño constante del icono de perfil */
    cursor: pointer;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.profile-menu.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.profile-menu button {
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: #000000;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.profile-menu button:hover {
    background-color: #555;
}

.profile-menu button:active {
    background-color: #777;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}


.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Ancho fijo para el menú */
    height: 100%;
    background: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Elementos en columna */
    overflow-y: auto; /* Permitir desplazamiento solo si es necesario */
}

.menu {
    display: flex;                  /* Muestra el menú como un flex */
    position: absolute;             /* Posiciona el menú en relación al contenedor */
    right: 0;                       /* Ancla el menú a la derecha */
    top: 100%;                      /* Mueve el menú hacia abajo del header */
    background-color: #fff;        /* Color de fondo del menú */
    border: 1px solid #ccc;        /* Borde del menú */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);  /* Sombra para el menú */
    visibility: hidden;             /* Oculta el menú por defecto */
    opacity: 0;                    /* Opacidad inicial para la transición */
    transition: visibility 0s, opacity 0.5s; /* Transición suave para la aparición */
}


.menu.active {
    visibility: visible;           /* Hace visible el menú cuando está activo */
    opacity: 1;                   /* Aumenta la opacidad */
}


.side-menu .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-menu .logo {
    width: 50px;
    height: auto;
}

.side-menu .close-btn {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #000000;
}

.side-menu .menu-content {
    margin-top: 20px;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 5px; /* Reducir el padding para evitar el desbordamiento */
    transition: background-color 0.3s, border-radius 0.3s;
}

.side-menu ul li:hover {
    border-radius: 5px;
    background-color: #aba9a9;
}

.side-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    flex-grow: 1;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.menu-btn {
    font-size: 14px;              /* Tamaño del texto en el botón */
    padding: 10px;                /* Espaciado del botón */
    background: none;             /* Sin fondo para los botones del menú */
    border: none;                 /* Sin borde */
    cursor: pointer;              /* Cambia el cursor al pasar el mouse */
    color: #000000;               /* Color del texto del botón */
    font-weight: bold;            /* Texto en negrita */
}


/* Media query para pantallas grandes */
@media (min-width: 768px) {
    .menu-btn {
        font-size: 18px; /* Tamaño moderado en pantallas grandes */
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
    .menu-btn {
        font-size: 12px; /* Tamaño reducido en pantallas pequeñas */
    }
}


.menu-btn.hidden {
    display: none;
}

.side-menu.open {
    transform: translateX(0);
}

.overlay.active {
    display: block;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-btn:hover {
    background-color: #f0f0f0;    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.menu-btn:focus {
    outline: none;                
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #262a2a;
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}


/* Responsive Styles */
@media (max-width: 768px) {
    .header img.logo-header {
        height: 40px;
        margin-right: 10px;
    }

    .profile-icon {
        height: 30px;
    }

    #tituloAnuc {
        font-size: 14px;
    }

    .side-menu {
        width: 80%; /* Cambiar el ancho a un porcentaje para pantallas pequeñas */
        max-width: 250px; /* Establecer un ancho máximo para pantallas pequeñas */
    }

    .side-menu .logo {
        width: 40px;
    }

    .side-menu ul li a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header img.logo-header {
        height: 30px;
        margin-right: 5px;
    }

    .profile-icon {
        height: 25px;
    }

    #tituloAnuc {
        font-size: 12px;
    }

    .side-menu {
        width: 90%; /* Aumentar el ancho a un porcentaje para pantallas muy pequeñas */
        max-width: 250px; /* Mantener un ancho máximo */
    }

    .side-menu .logo {
        width: 30px;
    }

    .side-menu ul li a {
        font-size: 12px;
    }

    .menu-btn {
        font-size: 20px;
    }
}
