<div class="fixed-width-container">
  <div class="container" *ngIf="empresa">
    <div class="about-section">
      <div class="cover-photo-wrapper">
        <img
          src="assets/imagenes/fachada_anuc.PNG"
          alt="Cover Photo"
          class="cover-photo"
        />
        <div class="profile-info">
          <div class="profile-photo-wrapper">
            <img
              src="assets/imagenes/logo_anuc_edited.jpg"
              alt="Profile Photo"
              class="profile-photo"
            />
          </div>
          <div class="company-details">
            <h1>{{ empresa.nombre }}</h1>
            <p>{{ empresa.direccion }}</p>
          </div>
        </div>
      </div>
      <div class="mision_anuc">
        <h2>Misión</h2>
        <p>{{ empresa.mision }}</p>
      </div>
      <div class="vision_anuc">
        <h2>Visión</h2>
        <p>{{ empresa.vision }}</p>
      </div>
      <div class="horarios_anuc">
        <h2>Horarios de venta</h2>
        <ul>
          <li *ngFor="let horario of horariosArray">{{ horario }}</li>
        </ul>
      </div>
      <div class="footer">
        <div class="footer-content">
          <span class="footer-item">
            <span class="label">Teléfono</span>
            <a *ngIf="empresa.telefono" [href]="'tel:' + empresa.telefono">
              <img
                src="assets/iconos/telefono_icon.png"
                alt="Teléfono Icono"
                class="icon"
              />
            </a>
          </span>

          <span class="footer-item">
            <span class="label">Correo</span>
            <a *ngIf="empresa.correo" [href]="'mailto:' + empresa.correo">
              <img
                src="assets/iconos/correo_icon.png"
                alt="Correo Icono"
                class="icon"
              />
            </a>
          </span>

          <span class="footer-item">
            <span class="label">Whatsapp</span>
            <a
              *ngIf="empresa.whatsapp"
              [href]="'https://wa.me/57' + empresa.whatsapp"
            >
              <img
                src="assets/iconos/whatsapp_icon.png"
                alt="WhatsApp Icono"
                class="icon"
              />
            </a>
          </span>

          <span class="footer-item">
            <span class="label">Facebook</span>
            <a
              *ngIf="empresa.facebook"
              [href]="'https://www.facebook.com/' + empresa.facebook"
            >
              <img
                src="assets/iconos/facebook_icon.png"
                alt="Facebook Icono"
                class="icon"
              />
            </a>
          </span>

          <span class="footer-item">
            <span class="label">Instagram</span>
            <a
              *ngIf="empresa.instagram"
              [href]="'https://www.instagram.com/' + empresa.instagram"
            >
              <img
                src="assets/iconos/instagram_icon.png"
                alt="Instagram Icono"
                class="icon"
              />
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>