<div class="container">
    <div class="about-section">
        <img src="assets/imagenes/fachada_anuc.PNG" alt="Cover Photo" class="cover-photo">
        <div class="profile-info">
            <img src="assets/imagenes/logo_anuc.png" alt="Profile Photo" class="profile-photo">
            <div class="company-details">
                <h1>ASOCIACIÓN MUNICIPAL DE USUARIOS CAMPESINOS DE FLORIDABLANCA </h1>
                <p>CR 9 6 16 BRR CASCO URBANO FLORIDABLANCA</p>
            </div>
        </div>
        <div class="mision_anuc">
            <h2>Nuestra misión</h2>
            <p>Morbi non erat vel urna fringilla semper. Morbi tempus, dolor non venenatis viverra, dolor libero convallis ante, ut mattis nisi sem quis risus. Aliquam placerat purus ipsum, eget eleifend mauris pellentesque non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non erat enim.</p>
        </div>
        <div class="vision_anuc">
            <h2>Nuestra visión</h2>
            <p>Fusce euismod turpis nec arcu tincidunt vehicula. Nullam vel ligula et turpis convallis scelerisque. Integer ut sapien a ante facilisis vestibulum. Curabitur at dictum lorem. Suspendisse potenti.</p>
        </div>
        <div class="horarios_anuc">
            <h2>Horarios</h2>
            <p>Lunes a Viernes: 8:00 AM - 6:00 PM</p>
            <p>Sábado: 9:00 AM - 2:00 PM</p>
            <p>Domingo: Cerrado</p>
        </div>
    </div>

</div>
