<div class="body">
    <div class="container">
        <div class="search-bar">
            <input type="text" placeholder="Buscar producto...">
            <button>Buscar</button>
            <button class="filter-btn">Filtrar</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre de vendedor</th>
                    <th>Vereda</th>
                    <th>Tipo de vendedor</th>
                    <th>Categorías de producción</th>
                    <th>Productos</th>
                    <th>Contactarse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>María Antonieta de las Nieves</td>
                    <td>La Judía</td>
                    <td>Mayorista</td>
                    <td>Cítricos y carnes</td>
                    <td>Limón criollo<br>Pollo<br>Cerdo</td>
                    <td><a href="#" class="contact-btn">Contactar vendedor</a></td>
                </tr>
                <tr>
                    <td>Ricardo José Álvarez Muñoz</td>
                    <td>La Judía</td>
                    <td>Mayorista</td>
                    <td>Lácteos, tubérculos y café</td>
                    <td>Queso<br>Yogurt<br>Mantequilla<br>Papa<br>Café</td>
                    <td><a href="#" class="contact-btn">Contactar vendedor</a></td>
                </tr>
                <tr>
                    <td>Luis José Ávila Borré</td>
                    <td>Ruitoque</td>
                    <td>Minorista</td>
                    <td>Cacao y huevos</td>
                    <td>Cacao<br>Huevos de gallina criollos<br>Huevos de gallina purinos<br>Huevos de codorniz<br>Huevos de pato</td>
                    <td><a href="#" class="contact-btn">Contactar vendedor</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
