body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #333;
    font-size: 14px;
}

.projcard-container,
.projcard-container * {
    box-sizing: border-box;
}

.projcard-container {
    width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projcard {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
    transform: translate(0px, -3px);
}

.projcard-innerbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.projcard-textbox {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    overflow-y: auto;
    max-height: 250px;
}

.projcard-title {
    font-family: 'Voces', 'Open Sans', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.projcard-description {
    font-size: 15px;
    color: #424242;
    overflow-y: auto;
    padding-left: 20px;
}

.subtitle {
    font-weight: bold;
    color: #0088FF;
    transition: color 0.3s ease;
}

.response {
    color: #000;
    transition: color 0.3s ease;
}

.projcard-blue .subtitle { color: #030405; }
.projcard-red .subtitle { color: #030405; }
.projcard-green .subtitle { color: #030405; }

.projcard .subtitle:hover {
    color: #666;
}

.projcard-blue .projcard-bar { background-color: #030405; }
.projcard-red .projcard-bar { background-color: #030405; }
.projcard-green .projcard-bar { background-color: #030405; }

.projcard-tagbox {
    position: absolute;
    bottom: 3%;
    font-size: 14px;
    cursor: default;
    user-select: none;
    pointer-events: none;
}

.projcard-tag {
    display: inline-block;
    background: #E0E0E0;
    color: #777;
    border-radius: 3px 0 0 3px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    position: relative;
    margin-right: 20px;
    cursor: default;
    user-select: none;
    transition: color 0.2s;
}

.projcard-tag::before {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    height: 6px;
    left: 10px;
    width: 6px;
    top: 10px;
}

.projcard-tag::after {
    content: '';
    position: absolute;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #E0E0E0;
    border-top: 13px solid transparent;
    right: -10px;
    top: 0;
}