<div class="projcard-container">
  <div class="projcard projcard-blue">
    <div class="projcard-innerbox">
      <div class="projcard-textbox">
        <div class="projcard-title">Información personal</div>
        <div *ngIf="persona" class="projcard-description">
          <p><strong class="subtitle">Nombre:</strong> <span class="response">{{ persona.nombres }}</span></p>
          <p><strong class="subtitle">Apellidos:</strong> <span class="response">{{ persona.apellidos }}</span></p>
          <p><strong class="subtitle">Sexo:</strong> <span class="response">{{ getSexo(persona.sexo) }}</span></p>
          <p><strong class="subtitle">Tipo de documento:</strong> <span class="response">{{ getTipoDocumento(persona.tipo_documento) }}</span></p>
          <p><strong class="subtitle">Identificación:</strong> <span class="response">{{ persona.identificacion }}</span></p>
          <p><strong class="subtitle">Fecha de nacimiento:</strong> <span class="response">{{ persona.fecha_nacimiento }}</span></p>
          <p><strong class="subtitle">Estado civil:</strong> <span class="response">{{ getEstadoCivil(persona.estado_civil) }}</span></p>
          <p><strong class="subtitle">Teléfono:</strong> <span class="response">{{ persona.telefono }}</span></p>
          <p><strong class="subtitle">Correo:</strong> <span class="response">{{ persona.correo }}</span></p>
          <button class="podback" (click)="openMenu()" value="Menú">Menú</button>
        </div>
      </div>
    </div>
  </div>

  <div class="projcard projcard-red">
    <div class="projcard-innerbox">
      <div class="projcard-textbox">
        <div class="projcard-title">Productos y Ubicación</div>
        <div *ngIf="produccion && produccion.length > 0" class="projcard-description">
          <p *ngFor="let prod of produccion; let i = index">
            <strong class="subtitle">Producto {{ i + 1 }}:</strong>
            <span class="response">{{ prod.producto }}</span>
          </p>
          <p><strong class="subtitle">Nombre de la vereda:</strong> <span class="response">{{ produccion[0].vereda }}</span></p>
          <p><strong class="subtitle">Finca:</strong> <span class="response">{{ produccion[0].nombre }}</span></p>
          <p><strong class="subtitle">Extensión:</strong> <span class="response">{{ produccion[0].extension }}</span></p>
          <p><strong class="subtitle">Tipo de predio:</strong> <span class="response">{{  getTipoPredio(produccion[0].tipo_predio) }}</span></p>
          <button class="podback" (click)="openMenu()" value="Menú" >Menú</button>
        </div>
      </div>
    </div>
  </div>

  <div class="projcard projcard-green">
    <div class="projcard-innerbox">
      <div class="projcard-textbox">
        <div class="projcard-title">Familiares</div>
        <div class="projcard-description">
          <div class="collage-container">
            <div *ngFor="let fami of familiares" class="collage-item">
              <p><strong class="subtitle">Parentesco:</strong> <span class="response">{{ getParentescos(fami.parentesco) }}</span></p>
              <p><strong class="subtitle">Identificación:</strong> <span class="response">{{ fami.identificacion }}</span></p>
              <p><strong class="subtitle">Nombre:</strong> <span class="response">{{ fami.nombres }}</span></p>
              <p><strong class="subtitle">Apellido:</strong> <span class="response">{{ fami.apellidos }}</span></p>
              <p><strong class="subtitle">Teléfono:</strong> <span class="response">{{ fami.telefono }}</span></p>
              <p><strong class="subtitle">Sexo:</strong> <span class="response">{{ getSexo(fami.sexo)}}</span></p>
              <p><strong class="subtitle">Estado Civil:</strong> <span class="response">{{ getEstadoCivil(fami.estado_civil) }}</span></p>
            </div>
          </div>
          <button class="podback" (click)="openMenu()" value="Menú">Menú</button>
        </div>
      </div>
    </div>
  </div>
</div>


