<div class="container">
    <h1>Ofertas principales</h1>
   
    <div class="product-container">
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Papa_pastusa_corriente_comervipc.jpg" alt="Papa">
            <div class="product-name">Papa</div>
            <div class="product-description">Papa pastusa</div>
            <div class="product-price-current">$1000/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Tomate chonto.jpg" alt="Tomate">
            <div class="product-name">Tomate</div>
            <div class="product-description">Tomate chonto</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Limon criollo.jpg" alt="Limón">
            <div class="product-name">Limón</div>
            <div class="product-description">Limón criollo</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Aguacate-Criollo.png" alt="Aguacate">
            <div class="product-name">Aguacate</div>
            <div class="product-description">Aguacate criollo</div>
            <div class="product-price-current">$5000/Lb</div>
            <div class="product-price-old">$7000/Lb</div>
        </div>
        
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/naranja-nacional.jpg" alt="Naranja">
            <div class="product-name">Naranja</div>
            <div class="product-description">Naranja común</div>
            <div class="product-price-current">$1000/Lb</div>
            <div class="product-price-old">$1600/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/cebolla-cabesona-blanca.png" alt="Cebolla">
            <div class="product-name">Cebolla</div>
            <div class="product-description">Cebolla cabezona</div>
            <div class="product-price-current">$500/Lb</div>
            <div class="product-price-old">$1000/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Papa_pastusa_corriente_comervipc.jpg" alt="Papa">
            <div class="product-name">Papa</div>
            <div class="product-description">Papa pastusa</div>
            <div class="product-price-current">$1000/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Tomate chonto.jpg" alt="Tomate">
            <div class="product-name">Tomate</div>
            <div class="product-description">Tomate chonto</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Limon criollo.jpg" alt="Limón">
            <div class="product-name">Limón</div>
            <div class="product-description">Limón criollo</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Aguacate-Criollo.png" alt="Aguacate">
            <div class="product-name">Aguacate</div>
            <div class="product-description">Aguacate criollo</div>
            <div class="product-price-current">$5000/Lb</div>
            <div class="product-price-old">$7000/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Papa_pastusa_corriente_comervipc.jpg" alt="Papa">
            <div class="product-name">Papa</div>
            <div class="product-description">Papa pastusa</div>
            <div class="product-price-current">$1000/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Tomate chonto.jpg" alt="Tomate">
            <div class="product-name">Tomate</div>
            <div class="product-description">Tomate chonto</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Limon criollo.jpg" alt="Limón">
            <div class="product-name">Limón</div>
            <div class="product-description">Limón criollo</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Papa_pastusa_corriente_comervipc.jpg" alt="Papa">
            <div class="product-name">Papa</div>
            <div class="product-description">Papa pastusa</div>
            <div class="product-price-current">$1000/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Limon criollo.jpg" alt="Limón">
            <div class="product-name">Limón</div>
            <div class="product-description">Limón criollo</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Aguacate-Criollo.png" alt="Aguacate">
            <div class="product-name">Aguacate</div>
            <div class="product-description">Aguacate criollo</div>
            <div class="product-price-current">$5000/Lb</div>
            <div class="product-price-old">$7000/Lb</div>
        </div>
        
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/naranja-nacional.jpg" alt="Naranja">
            <div class="product-name">Naranja</div>
            <div class="product-description">Naranja común</div>
            <div class="product-price-current">$1000/Lb</div>
            <div class="product-price-old">$1600/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/cebolla-cabesona-blanca.png" alt="Cebolla">
            <div class="product-name">Cebolla</div>
            <div class="product-description">Cebolla cabezona</div>
            <div class="product-price-current">$500/Lb</div>
            <div class="product-price-old">$1000/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Papa_pastusa_corriente_comervipc.jpg" alt="Papa">
            <div class="product-name">Papa</div>
            <div class="product-description">Papa pastusa</div>
            <div class="product-price-current">$1000/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Tomate chonto.jpg" alt="Tomate">
            <div class="product-name">Tomate</div>
            <div class="product-description">Tomate chonto</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Limon criollo.jpg" alt="Limón">
            <div class="product-name">Limón</div>
            <div class="product-description">Limón criollo</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Aguacate-Criollo.png" alt="Aguacate">
            <div class="product-name">Aguacate</div>
            <div class="product-description">Aguacate criollo</div>
            <div class="product-price-current">$5000/Lb</div>
            <div class="product-price-old">$7000/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Papa_pastusa_corriente_comervipc.jpg" alt="Papa">
            <div class="product-name">Papa</div>
            <div class="product-description">Papa pastusa</div>
            <div class="product-price-current">$1000/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Tomate chonto.jpg" alt="Tomate">
            <div class="product-name">Tomate</div>
            <div class="product-description">Tomate chonto</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Limon criollo.jpg" alt="Limón">
            <div class="product-name">Limón</div>
            <div class="product-description">Limón criollo</div>
            <div class="product-price-current">$1200/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Papa_pastusa_corriente_comervipc.jpg" alt="Papa">
            <div class="product-name">Papa</div>
            <div class="product-description">Papa pastusa</div>
            <div class="product-price-current">$1000/Lb</div>
            <div class="product-price-old">$1500/Lb</div>
        </div>
        
    </div>
    

</div>