<!-- <div *ngIf="productos.length > 0; else noProductos">
  <h3>Productos del Asociado</h3>
  <ul>
    <li *ngFor="let producto of productos">
      {{ producto.producto }} Ajusta según la estructura de tu producto 
    </li>
  </ul>
</div>

<ng-template #noProductos>
  <p>No se encontraron productos.</p>
</ng-template>


<div *ngIf="bloqcat.length > 0; else noData">
  <h3>Categorías del Asociado</h3>
  <ul>
    <li *ngFor="let categoria of bloqcat">
      {{ categoria.grupo }} - {{ categoria.descripcionGrupo }}
    </li>
  </ul>
</div>

<ng-template #noData>
  <p>No se encontraron categorías.</p>
</ng-template>-->


<div class="categorias-container">
  <h2>Categorías del Asociado</h2>
  
  <div *ngIf="bloqcat.length > 0; else noData" class="cards-container">
    <div class="card" *ngFor="let categoria of bloqcat" (click)="filterByCategory(categoria)">
      <img [src]="getIconUrl(categoria.grupo)" alt="{{ categoria.grupo }}" class="icon">
      <h3>{{ categoria.grupo }}</h3>
      <p>{{ categoria.descripcionGrupo }}</p>
    </div>
  </div>
  
  <ng-template #noData>
    <p>No se encontraron categorías.</p>
  </ng-template>
</div>

  
<div class="modal" *ngIf="selectedCategory" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <h1>{{ selectedCategory.grupo }}</h1>

    <!-- Formulario dentro del modal -->
    <form (submit)="guardarDatos()" class="formulario-container">
      <!-- Selector de Fecha -->
      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input id="fecha" type="date" [(ngModel)]="fechaSeleccionada" name="fecha" required />
      </div>

      <!-- Selector de Producto -->
      <div class="form-group">
        <label for="producto">Producto:</label>
        <select id="producto" [(ngModel)]="productoSeleccionado" name="producto" required>
          <option *ngFor="let producto of filteredProductos" [value]="producto.idProducto">{{ producto.producto }}</option>
        </select>
      </div>

      <!-- Selector de Medida -->
      <div class="form-group">
        <label for="medida">Medida:</label>
        <select id="medida" [(ngModel)]="medidaSeleccionada" name="medida" required>
          <option *ngFor="let medida of medidas" [value]="medida.id">{{ medida.unidad }}</option>
        </select>
      </div>

      <!-- Campo de descripción bloqueado -->
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <p class="descripcion-grupo">{{ selectedCategory.descripcionGrupo }}</p>
      </div>

      <!-- Botón de Guardar -->
      <button type="submit">Guardar</button>
    </form>
  </div>
</div>
