/* Estilo general del contenedor de categorías */
.categorias-container {
  text-align: center;
  background-color: #e0e0e0;
  padding: 80px;
  border-radius: 15px;
  max-width: 900px;
  margin: 30px auto;
}

.categorias-container h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.divider-line {
  width: 80%;
  height: 2px;
  background-color: #000;
  margin: 10px auto 20px;
}

/* Contenedor de tarjetas */
.cards-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card {
  background-color: #b0b0b0;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.card .icon {
  width: 160px;
  height: auto;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9em;
  line-height: 1.4;
}

/* Estilos para el contenedor modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo para el contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 80vh; /* Altura máxima del modal */
  overflow-y: auto; /* Activar el scroll vertical */
}

/* Estilos para los campos de formulario */
.modal-content select,
.formulario-container form input[type="number"],
.formulario-container form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.modal-content select:focus,
.formulario-container form input[type="number"]:focus,
.formulario-container form textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

/* Botón de cierre */
.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: rgb(255, 3, 3);
}

/* Estilo del título */
h2 {
  margin-top: 0;
  text-align: center;
  font-size: 24px;
}

/* Estilo general del formulario */
.formulario-container form {
  text-align: left;
  margin-top: 20px;
}

.formulario-container form label {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
  color: #333;
}

/* Estilos adicionales para contenedores de cada categoría */
.formulario-container .categoria-seccion {
  padding: 15px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botón de guardar */
.formulario-container form button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario-container form button:hover {
  background-color: #0056b3;
}

/* Espaciado adicional entre secciones de categoría */
.formulario-container form .categoria-seccion label {
  margin-top: 10px;
}

/* Estilo para el botón en el modal */
.modal-content .action-btn {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.modal-content .action-btn:hover {
  background-color: #0056b3;
}

/* Estilo específico para el campo de descripción */
.formulario-container form textarea {
  height: 150px; /* Altura fija del área de texto */
  resize: vertical; /* Permite redimensionar verticalmente */
  max-height: 200px; /* Máximo de altura */
  overflow-y: auto; /* Activa el scroll vertical si es necesario */
}

.formulario-container form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(103, 119, 170, 0.2);
}

.fases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilo para cada grupo de fases */
.grupo-container {
  width: 100%;
  background-color: #e0e0e0;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Título principal de cada grupo */
.title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}

/* Título del grupo */
.grupo-title {
  font-size: 1.4em;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

/* Contenedor de las fases */
.fase-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

/* Tarjeta de cada fase */
.fase-card {
  background-color: #b0b0b0;
  border-radius: 8px;
  width: 220px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fase-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Icono de la fase */
.fase-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 20%;
  object-fit: cover;
}

/* Nombre de la fase */
.fase-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

/* Descripción de la fase */
.fase-description {
  font-size: 0.9em;
  color: #666;
  line-height: 1.4;
}