<div class="categorias-container">
  <h2>CATEGORÍAS</h2>
  <div class="cards-container">
    <div *ngFor="let grupo of grupos" class="card" (click)="seleccionarCategoria(grupo)">
      <img [src]="getIconUrl(grupo.grupo)" [alt]="'Icono de ' + grupo.grupo" class="icon">
      <h3>{{ grupo.grupo }}</h3>
      <p>{{ grupo.descripcion }}</p>
    </div>
  </div>
</div>

<div *ngIf="isModalOpen" class="modal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <div *ngIf="categoriaSeleccionada" class="formulario-container">
      <h2>Formulario para {{ categoriaSeleccionada.grupo }}</h2>
      <form (ngSubmit)="guardarFormulario()">
        <div>
          <label for="producto">Producto</label>
          <select id="producto" [(ngModel)]="formulario.producto" name="producto" required>
            <option *ngFor="let producto of productos" [value]="producto.idProducto">
              {{ producto.producto }}
            </option>
          </select>
        </div>
        <div>
          <label for="medida">Medida</label>
          <select id="medida" [(ngModel)]="formulario.medida" name="medida" required>
            <option *ngFor="let medida of medidas" [value]="medida.id">
              {{ medida.unidad }}
            </option>
          </select>
        </div>

        <!-- Campos adicionales según la categoría -->
        <div *ngIf="categoriaSeleccionada.grupo  === 'Huevos'">
          <label for="cantidadGallinas">Cantidad de Gallinas</label>
          <input type="number" id="cantidadGallinas" [(ngModel)]="formulario.cantidadGallinas" name="cantidadGallinas"
            required>

          <label for="cantidadHuevosProducir">Cantidad de Huevos a Producir</label>
          <input type="number" id="cantidadHuevosProducir" [(ngModel)]="formulario.cantidadHuevosProducir"
            name="cantidadHuevosProducir" required>
        </div>

        <div *ngIf="categoriaSeleccionada.grupo  === 'Cultivos'">
          <label for="cantidadHectarias">Cantidad de Hectáreas</label>
          <input type="number" id="cantidadHectarias" [(ngModel)]="formulario.cantidadHectarias"
            name="cantidadHectarias" required>

          <label for="cantidadProducir">Cantidad a Producir</label>
          <input type="number" id="cantidadProducir" [(ngModel)]="formulario.cantidadProducir" name="cantidadProducir"
            required>
        </div>

        <div *ngIf="categoriaSeleccionada.grupo  === 'Carnes'">
          <label for="cantidadCrias">Cantidad de Crías</label>
          <input type="number" id="cantidadCrias" [(ngModel)]="formulario.cantidadCrias" name="cantidadCrias" required>

          <label for="cantidadEsperadaProducir">Cantidad Esperada a Producir</label>
          <input type="number" id="cantidadEsperadaProducir" [(ngModel)]="formulario.cantidadEsperadaProducir"
            name="cantidadEsperadaProducir" required>
        </div>

        <div *ngIf="categoriaSeleccionada.grupo  === 'Transformados'">
          <label for="cantidadTransformados">Cantidad de Transformados</label>
          <input type="number" id="cantidadTransformados" [(ngModel)]="formulario.cantidadTransformados"
            name="cantidadTransformados" required>

          <label for="cantidadEsperadaProducir">Cantidad Esperada a Producir</label>
          <input type="number" id="cantidadEsperadaProducir" [(ngModel)]="formulario.cantidadEsperadaProducir"
            name="cantidadEsperadaProducir" required>
        </div>

        <button type="submit" class="action-btn edit-btn">Guardar</button>
      </form>
    </div>
  </div>
</div>