<div class="container">
    <div class="header">
        <img src="assets/imagenes/logo_anuc.png" alt="Logo">
        <span id="tituloAnuc">ASOCIACIÓN MUNICIPAL DE USUARIOS CAMPESINOS DE FLORIDABLANCA</span>
    </div>
    <div class="content">
        <div class="login-container">
            <h2>Inicia sesión como nuestro asociado</h2>
            <p>Digita tu correo y contraseña para poder ingresar</p>
            <form>
                <input type="email" placeholder="email" required>
                <input type="password" placeholder="contraseña" required>
                <button type="submit">Iniciar sesión</button>
            </form>
            <small>
                Al hacer click en iniciar sesión estás aceptando nuestros   
                <a href="#">Términos de Servicio</a> y 
                <a href="#">Políticas de Privacidad</a>
            </small>
        </div>
    </div>

</div>
    

