/* General body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

/* Data Wall Container */
.data-wall-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 200px);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

/* Data Wall Content */
.data-wall-content {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

/* Heading */
h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
  white-space: nowrap;
}

/* Paragraphs */
p {
  font-size: 16px;
  color: #555555;
  margin: 10px 0;
}

/* Button */
.edit-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.edit-button:hover {
  background-color: #0056b3;
}

/* Info Container: flexbox para organizar texto e imagen */
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centrado vertical de la imagen */
  padding: 20px;
  box-sizing: border-box;
}

.info-text {
  flex: 1;
  padding-right: 20px; /* Separación entre texto e imagen */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 150px; /* Controla el tamaño del contenedor de la imagen */
}

.profile-photo {
  width: 100%;
  max-width: 150px; /* Asegura que la imagen no sobrepase un tamaño específico */
  height: auto;
  margin-bottom: 30px;
}

/* Modal Styles */
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto; /* Asegura que aparezca el scroll cuando sea necesario */
  padding: 10px; /* Añadir padding para evitar que el modal quede pegado al borde */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh; /* Limitar la altura del modal para que no sobrepase la pantalla */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Activar scroll si el contenido sobrepasa la altura */
}

/* Close Button */
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #ff0303;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333333;
}

input[type="text"],
input[type="date"],
select,
input[type="file"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo específico para el input de archivo */
input[type="file"] {
  padding: 10px;
  font-size: 16px;
  color: #555555;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
  background-color: #0056b3;
}

/* Input con símbolo de arroba (@) */
.instagram-input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.instagram-input span {
  position: absolute;
  left: 10px;
  top: 35%;
  transform: translateY(-50%); /* Centra verticalmente el símbolo @ */
  font-size: 16px;
  color: #555555;
  pointer-events: none;
}

.instagram-input input {
  padding-left: 35px; /* Ajuste para centrar mejor el arroba */
  width: 100%;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #17a2b8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #138f9c;
}

/* Responsive Design */
@media (max-width: 768px) {
  .info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-container {
    margin-top: 20px;
    flex-basis: auto;
  }

  .profile-photo {
    max-width: 120px; /* Tamaño de imagen más pequeño en pantallas medianas */
  }

  .modal-content {
    padding: 15px;
    width: 95%;
    max-width: 500px;
    overflow: auto;
  }

  h2 {
    font-size: 20px;
  }

  p,
  label {
    font-size: 14px;
  }

  .edit-button,
  button[type="submit"] {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .info-container {
    padding: 10px;
  }

  .profile-photo {
    max-width: 100px; /* Tamaño de imagen más pequeño en pantallas pequeñas */
  }

  .modal-content {
    width: 100%;
    padding: 10px;
    max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
  }

  h2 {
    font-size: 18px;
  }

  p,
  label {
    font-size: 12px;
  }

  .edit-button,
  button[type="submit"] {
    font-size: 12px;
    padding: 6px 12px;
  }
}
