body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #2e7d32;
    border: 2px solid #000;
    border-radius: 15px;
    width: 600px;
    height: 400px;
    margin: 20px auto;
    color: #000;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.flag-lines {
    width: 100%;
    margin: 0;
    padding: 0;
}

.flag-line1,
.flag-line2,
.flag-line3 {
    width: 100%;
    height: 5px;
    display: block;
}

.flag-line1 {
    background-color: #ffeb3b;
}

.flag-line2 {
    background-color: #3f51b5;
}

.flag-line3 {
    background-color: #f44336;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
}

.text-section {
    width: 65%;
}

.sub-header {
    font-size: 20px;
    font-weight: bold;
    color: #ffeb3b;
    margin-bottom: 10px;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 5px;
}

.info {
    font-size: 13px;
}

.info span {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.highlight {
    font-size: 20px;
    font-weight: bold;
    color: #ffeb3b;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 5px;
}

.quote {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
}

.doc-info {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.validity {
    width: 70%;
    font-size: 24px;
    font-weight: bold;
    color: #0d480d;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto 25px;
    /* Centrar el texto */
}

.signature-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.signature {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.signature span {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    border: 2px solid #000000b7;
    border-radius: 10px;
    padding: 10px;
    display: block;
    font-size: 16px;
    color: #000000;
}

.signature p {
    font-size: 16px;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

.address {
    font-size: 21px;
    font-weight: bold;
    color: #ffff00;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #000;
}


.logo-trasero {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.logo-trasero img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 30px;
}

.txt-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt {
    width: 53%;
    margin-left: 8%;
}

.foto-asociado {
    width: 150px;
    height: auto;
    border-radius: 5%;
    background-color: transparent;
    object-fit: cover;
    margin-right: 30px;
}

/* Styles for title, description, and buttons */
.download-section {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #2e7d32;
}

.description {
    font-size: 16px;
    color: #333;
    margin: 10px auto;
    width: 70%;
}

.download-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Espacio entre los botones */
    margin-top: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #388e3c;
}

button:active {
    background-color: #2e7d32;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 10%;
        margin: 10px auto;
        transform: scale(0.8);
        transform-origin: top center;
    }

    .header {
        font-size: 28px;
    }

    .sub-header, .highlight, .validity {
        font-size: 18px;
    }

    .info {
        font-size: 12px;
    }

    .quote, .doc-info {
        font-size: 14px;
    }

    .signature p {
        font-size: 12px;
    }

    .address {
        font-size: 16px;
    }
}
