<div class="container">
    <!-- Barra de búsqueda -->
    <h1 class="title">Busca asociados ANUC</h1>
    <input type="text" class="search-bar" placeholder="Buscar por nombre, apellidos, vereda o finca"
        [(ngModel)]="searchTerm" (input)="filtrarAsociados()" />

    <!-- Lista de Tarjetas de Asociados -->
    <div *ngFor="let asociado of asociadosFiltrados" class="card">
        <div class="card-content">
            <!-- Información del asociado -->
            <div class="asociado-info">
                <h2>{{ asociado.nombres }} {{ asociado.apellidos }}</h2>
                <p><strong>Finca:</strong> {{ asociado.nombre }}</p>
                <p><strong>Vereda:</strong> {{ asociado.vereda }}</p>
                
                <!-- Mostrar solo contactos válidos -->
                <p *ngIf="asociado.telefono"><strong>Teléfono:</strong> {{ asociado.telefono }}</p>
                <p *ngIf="asociado.correo"><strong>Correo:</strong> {{ asociado.correo }}</p>
                <p *ngIf="asociado.whatsapp"><strong>Whatsapp:</strong> {{ asociado.whatsapp }}</p>
                <p *ngIf="asociado.facebook"><strong>Facebook:</strong> {{ asociado.facebook }}</p>
                <p *ngIf="asociado.instagram"><strong>Instagram:</strong> {{ asociado.instagram }}</p>
            </div>

            <!-- Imagen del asociado -->
            <div class="asociado-foto">
                <img *ngIf="asociado.fotoAsociado; else noFoto" [src]="'data:image/jpeg;base64,' + asociado.fotoAsociado" alt="Foto del Asociado" />
                <ng-template #noFoto>
                    <img src="assets/imagenes/no-photo.png" alt="Sin foto" />
                </ng-template>
            </div>
        </div>
    </div>
</div>

