<div class="container">
    <div class="header">
        <div class="left">
            <img src="assets/imagenes/logo_anuc_edited.png" alt="Logo" class="logo-header">
            <button id="menu-btn" class="menu-btn" (click)="openMenu()">☰ Menú</button>
        </div>
        <span id="tituloAnuc">ADMINISTRACIÓN ANUC</span>        
        <img id="profile_icon" src="assets/iconos/profile_icon.png" alt="Profile" class="profile-icon" (click)="toggleProfileMenu()">
        <div id="profile-menu" class="profile-menu">
            <button>Administrar Perfil</button>
            <button>Cambiar Contraseña</button>
            <button>Cerrar Sesión</button>
        </div>
    </div>

    <div id="overlay" class="overlay" (click)="closeMenu()"></div>

    <div id="menu" class="side-menu">
        <div class="menu-header">
            <img src="assets/imagenes/logo_anuc_edited.png" alt="ANUC Logo" class="logo">
            <button class="close-btn" (click)="closeMenu()">×</button>
        </div>
        <div class="menu-content">            
            <h2>Gestión asociados</h2>
            <ul>
                <li>
                    <img src="assets/iconos/home_icon.png" alt="Admin Asociados" class="icon">
                    <a routerLink="inicio" (click)="closeMenu()">Inicio</a>
                </li>
                <li>
                    <img src="assets/iconos/asociados_icon.png" alt="Admin Asociados" class="icon">
                    <a routerLink="personas" (click)="closeMenu()">Administrar personas</a>
                </li>
                <li>
                    <img src="assets/iconos/reportes_icon.png" alt="Reportes Asociados" class="icon">
                    <a routerLink="reportes-asociados" (click)="closeMenu()">Reporte de asociados</a>
                </li>
                <li>
                    <img src="assets/iconos/location_icon.png" alt="Mapa Asociados" class="icon">
                    <a routerLink="adminasociados" (click)="closeMenu()">Mapa de asociados</a>
                </li>
                <li>
                    <img src="assets/iconos/warning_icon.png" alt="Novedades Asociados" class="icon">
                    <a routerLink="adminasociados" (click)="closeMenu()">Novedades de asociados</a>
                </li>
                <li>
                    <img src="assets/iconos/oferts_icon.png" alt="Administración Ofertas" class="icon">
                    <a routerLink="adminasociados" (click)="closeMenu()">Ofertas de asociados</a>
                </li>
            </ul>
            <h2>Gestión ANUC</h2>
            <ul>
                <li>
                    <img src="assets/iconos/administrar_entidad_icon.png" alt="Administrar Información Entidad" class="icon">
                    <a routerLink="informacion-anuc" (click)="closeMenu()">Administrar información de la entidad</a>
                </li>
                <li>
                    <img src="assets/iconos/producto_categorias_icon.png" alt="Administrar veredas" class="icon">
                    <a routerLink="categorias-productos" (click)="closeMenu()">Administrar categorías de productos</a>
                </li>
                <li>
                    <img src="assets/iconos/administrar_productos_icon.png" alt="Administrar Productos y Categorías" class="icon">
                    <a routerLink="productos-categorias" (click)="closeMenu()">Administrar productos</a>
                </li>
                <li>
                    <img src="assets/iconos/unidades_medida_icon.png" alt="Administrar información desplegable" class="icon">
                    <a routerLink="unidades-anuc" (click)="closeMenu()">Administrar unidades de medida</a>
                </li>
                <li>
                    <img src="assets/iconos/vereda_icon.png" alt="Administrar veredas" class="icon">
                    <a routerLink="veredas-anuc" (click)="closeMenu()">Administrar veredas</a>
                </li>
                <li>
                    <img src="assets/iconos/parentesco_icon.png" alt="Administrar veredas" class="icon">
                    <a routerLink="parentescos-anuc" (click)="closeMenu()">Administrar parentescos</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
