.container {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #00332c;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.header .left {
    display: flex;
    align-items: center;
}

.header img.logo-header {
    height: 50px;
    margin-right: 20px;
}

#tituloAnuc {
    font-size: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #000000;
}

.profile-icon {
    height: 40px;
    cursor: pointer;
    position: relative;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.profile-menu.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.profile-menu button {
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: #000000;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.profile-menu button:hover {
    background-color: #555;
}

.profile-menu button:active {
    background-color: #777;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Cambiado a 100% para pantallas pequeñas */
    height: 100%;
    background: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 20px;
    overflow-y: auto; /* Permite desplazamiento vertical */
}

.side-menu .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-menu .logo {
    width: 50px;
    height: auto;
}

.side-menu .close-btn {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #000000;
}

.side-menu .menu-content {
    margin-top: 20px;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: background-color 0.3s, border-radius 0.3s;
}

.side-menu ul li:hover {
    border-radius: 5px;
    background-color: #aba9a9;
}

.side-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;    
    flex-grow: 1;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.menu-btn {
    font-size: 14px; /* Tamaño del texto ajustado */
    padding: 25px 0px; /* Ajusta el padding */
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    color: #000000; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}

.menu-btn.hidden {
    display: none;
}

.side-menu.open {
    transform: translateX(0);
}

.overlay.active {
    display: block;
}

/* Media query para pantallas grandes */
@media (min-width: 768px) {
    .menu-btn {
        font-size: 18px; /* Tamaño moderado en pantallas grandes */
    }

    .side-menu {
        width: 250px; /* Ajusta el ancho del menú en pantallas grandes */
    }

    .side-menu ul li a {
        font-size: 16px; /* Tamaño de texto en pantallas grandes */
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
    .header img.logo-header {
        height: 40px;
        margin-right: 10px;
    }

    .profile-icon {
        height: 30px;
    }

    #tituloAnuc {
        font-size: 14px;
    }

    .side-menu {
        width: 100%; /* Asegúrate de que el menú ocupe todo el ancho */
        padding: 10px; /* Reduce el padding para pantallas pequeñas */
    }

    .side-menu ul li a {
        font-size: 12px; /* Tamaño de texto en pantallas pequeñas */
    }

    .menu-btn {
        padding: 10px; /* Ajusta el padding para pantallas pequeñas */
        font-size: 12px; /* Tamaño reducido en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .header img.logo-header {
        height: 30px;
        margin-right: 5px;
    }

    .profile-icon {
        height: 25px;
    }

    #tituloAnuc {
        font-size: 12px;
    }

    .side-menu {
        width: 180px; /* Ajusta el ancho para pantallas más pequeñas */
    }

    .side-menu .logo {
        width: 30px;
    }

    .side-menu ul li a {
        font-size: 10px; /* Tamaño de texto en pantallas muy pequeñas */
    }

    .menu-btn {
        font-size: 10px; /* Tamaño reducido en pantallas pequeñas */
    }
}
