.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.grupo-container {
  margin-bottom: 30px;
}

.grupo-title {
  font-size: 1.5rem;
  margin: 10px 0;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.fase-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.fase-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: calc(25% - 15px); /* Ajusta el tamaño del card */
  cursor: pointer;
  transition: transform 0.2s;
}

.fase-card:hover {
  transform: scale(1.05);
  border-color: #007bff; /* Color de borde al pasar el mouse */
}

.fase-card img {
  width: 50px; /* Ajusta según sea necesario */
  height: 50px; /* Ajusta según sea necesario */
}

.fase-content {
  text-align: center;
}

.fase-name {
  font-size: 1.2rem;
  margin: 10px 0;
}

.fase-description {
  font-size: 0.9rem;
  color: #555;
}
