<div class="container">
    <h2 class="title">Fases de Costos</h2>
    <div *ngFor="let grupo of grupos" class="grupo-container">
        <h3 class="grupo-title">{{ grupo.proceso }}</h3> 
        <div class="fase-container">
            <div *ngFor="let fase of grupo.fases" class="fase-card" (click)="verDetalleFase(fase.id)">
                <img *ngIf="fase.icono" [src]="fase.icono" alt="Icono de la fase" class="fase-icon" />
                <div class="fase-content">
                    <h4 class="fase-name">{{ fase.nombre_fase }}</h4>
                    <p class="fase-description">{{ fase.descripcion }}</p>
                </div>
            </div>
        </div>
    </div>
</div>