<div class="body">
    <div class="product-container">
        <div class="product-image">
            <img src="assets/imagenes/Papa_pastusa_corriente_comervipc.jpg" alt="Papa">
        </div>
        <div class="product-details">
            <h1>Papa</h1>
            <p>Vendido por Maria</p>
            <p class="current-price">$1000/Lb <span class="old-price">$1500/Lb</span></p>
            <p>Papa pastusa cultivada en la finca La cascada</p>
            <button>Contactarse con el vendedor</button>
        </div>
    </div>

    <h2>Más ofertas</h2>

    <div class="container">
        <div class="product-card" onclick="window.location.href='product.html'">
            <img src="assets/imagenes/Tomate chonto.jpg" alt="Tomate">
            <div class="product-name">Tomate</div>
            <div class="product-description">Tomate chonto</div>
            <div class="product-price-current">$1200/Lb</div>
        </div>

    </div>
    
</div>
