body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  padding: 20px;
}

.formas-contacto-container {
  max-width: 400px; /* Ancho máximo reducido para el contenedor del formulario */
  margin: 20px auto; /* Agrega margen superior para espaciarlo del menú */
  background-color: #ececec; /* Color de fondo del formulario */
  padding: 20px; /* Espaciado interno reducido */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Sombra del contenedor */
}

h2 {
  font-size: 1.5rem; /* Tamaño del encabezado reducido */
  color: #333; /* Color del texto */
  margin-bottom: 15px; /* Espaciado inferior */
  text-align: center; /* Centra el texto */
}

.form-group {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  margin-bottom: 10px; /* Espaciado inferior de los grupos de formulario */
}

.form-group label {
  font-size: 0.9rem; /* Tamaño de la fuente de las etiquetas reducido */
  color: #666; /* Color de las etiquetas */
  margin-bottom: 5px; /* Espaciado inferior de las etiquetas */
}

.form-group input,
.form-group select {
  width: 100%; /* Ancho completo */
  padding: 8px; /* Espaciado interno reducido */
  border-radius: 6px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde */
  font-size: 0.9rem; /* Tamaño de la fuente reducido */
  box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho total */
}

.card-actions {
  display: flex;
  justify-content: center; /* Centra los botones */
  align-items: center; /* Alinea verticalmente los botones */
  margin-top: 10px; /* Espaciado superior reducido */
}

button {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 8px 12px; /* Espaciado interno reducido */
  border: none; /* Sin borde */
  border-radius: 6px; /* Bordes redondeados */
  font-weight: 600; /* Peso de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición del color de fondo */
  font-size: 0.9rem; /* Tamaño de la fuente del botón reducido */
  margin: 0 5px; /* Espaciado entre los botones */
}

button:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}

/* Nuevo estilo para alinear las opciones de radio */
.radio-group {
  display: flex; /* Apila horizontalmente */
  justify-content: center; /* Centra horizontalmente */
  margin-top: 5px; /* Espaciado superior */
}
