.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.chart {
    width: 45%;
    min-width: 300px;
    height: 400px;
    margin: 10px;
}

.chartEdades {
    width: 45%;
    min-width: 300px;
    height: 400px;
}

.chartVeredas {
    width: 45%;
    min-width: 300px;
    height: 400px;
}
