<div class="body">
    <div class="container">
        <h2>Lista de Parentescos</h2>
        <div class="search-bar">
            <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (input)="buscar()">
            <button class="create-btn" (click)="openCreateModal()">Crear Parentesco</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Id del parentesco</th>
                    <th>Parentesco</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parentesco of paginatedParentescos">
                    <td>{{ parentesco.id }}</td>
                    <td>{{ parentesco.parentesco }}</td>
                    <td>{{ parentesco.estado === 1 ? 'Activo' : 'Inactivo' }}</td>
                    <td>
                        <button class="action-btn edit-btn" (click)="openEditModal(parentesco)">Editar</button>
                        <button *ngIf="parentesco.estado === 0" class="action-btn activate-btn" (click)="openActivateModal(parentesco)">Activar</button>
                        <button *ngIf="parentesco.estado === 1" class="action-btn deactivate-btn" (click)="openDeactivateModal(parentesco)">Desactivar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
            <span>Página {{currentPage}} de {{totalPages}}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
            <span class="record-count">Total registros: {{ filteredParentescos.length }}</span>
        </div>
    </div>
</div>

<!-- Create Modal -->
<div class="modal" id="createModal" *ngIf="createModalVisible">
    <div class="modal-content">
        <span class="close" (click)="closeCreateModal()">&times;</span>
        <h2>Crear Parentesco</h2>
        <form (ngSubmit)="submitCreateForm()">
            <label>
                Parentesco:
                <input type="text" [(ngModel)]="newParentesco.parentesco" name="vereda" required>
            </label>
            <button type="submit" class="action-btn create-btn">Crear</button>
        </form>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal" id="editModal" *ngIf="editModalVisible">
    <div class="modal-content">
        <span class="close" (click)="closeEditModal()">&times;</span>
        <h2>Editar Parentesco</h2>
        <form (ngSubmit)="submitEditForm()">
            <label>
                Parentesco:
                <input type="text" [(ngModel)]="selectedParentesco.parentesco" name="vereda">
            </label>
            <button type="submit" class="action-btn edit-btn">Guardar</button>
        </form>
    </div>
</div>

<!-- Activate Modal -->
<div class="modal" id="activateModal" *ngIf="activateModalVisible">
    <div class="modal-content">
        <span class="close" (click)="closeActivateModal()">&times;</span>
        <h2>Activar Parentesco</h2>
        <p>¿Estás seguro de que quieres activar el parentesco {{ selectedParentesco.parentesco }}?</p>
        <button class="action-btn activate-btn" (click)="activateParentesco()">Activar</button>
    </div>
</div>

<!-- Deactivate Modal -->
<div class="modal" id="deactivateModal" *ngIf="deactivateModalVisible">
    <div class="modal-content">
        <span class="close" (click)="closeDeactivateModal()">&times;</span>
        <h2>Desactivar Parentesco</h2>
        <p>¿Estás seguro de que quieres desactivar el parentesco {{ selectedParentesco.parentesco }}?</p>
        <button class="action-btn deactivate-btn" (click)="deactivateParentesco()">Desactivar</button>
    </div>
</div>
