<div class="container">
    <div class="header">
      <div class="logo-container" (click)="reiniciar()">
        <img src="assets/imagenes/logo_anuc_edited.png" alt="Logo" class="logo">
      </div>
      <button class="menu-toggle" (click)="toggleMenu($event)">&#9776;</button> <!-- Botón del menú -->
      <div class="nav-links" [ngClass]="{ 'menu-open': menuOpen }">
        <a routerLink="/home" routerLinkActive="active" class="nav-item">Ofertas</a>
        <a routerLink="/nosotros" routerLinkActive="active" class="nav-item">Nosotros</a>
        <button routerLink="/login" routerLinkActive="active" class="login-btn">Ingreso de Asociados</button>
      </div>
    </div>
  </div>
  