
<div class="container">
    <div class="header">
        <img src="assets/imagenes/logo_anuc.png" alt="Logo">
        <div class="search-container">
            <input type="text" placeholder="Busca un producto en oferta...">
            <button>Buscar</button>
            <button class="filter-btn">
                <img src="assets/iconos/filtrar_icon.png" alt="Filtrar" id="filtrar_icono">
                <span class="filter-text">Filtrar</span>
            </button>
        </div>
        <div class="nav-links">
            <a routerLink="/proveedores">Buscar proveedores</a>
            <a routerLink="/nosotros">Nosotros</a>
            <a routerLink="/login" class="login-btn">Ingreso de asociados</a>
        </div>
    </div>
</div>
