/* Estilos base para escritorio */
.container {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 16px;
    transition: color 0.3s;
}

.login-btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.active {
    color: #07760b;
    font-weight: bold;
}

/* Efectos hover */
.nav-item:hover {
    color: #07760b;
}

/* Estilos exclusivos para dispositivos móviles */
.menu-toggle {
    display: none; /* Oculto por defecto (sólo visible en móviles) */
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilos responsive */
@media (max-width: 700px) {
    .menu-toggle {
        display: block; /* Mostrar el botón del menú en pantallas pequeñas */
    }

    .nav-links {
        color: white;
        display: none; /* Ocultar el menú por defecto */
        position: absolute;
        top: 60px; /* Ajusta según el tamaño de tu header */
        right: 10px; /* Espaciado desde el borde derecho */
        background-color: rgb(0, 0, 0);
        border-radius: 15px; /* Bordes redondeados */
        padding: 10px 0;
        width: 80%;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
    }

    .menu-open {
        display: flex; /* Mostrar el menú cuando esté abierto */
    }

    .nav-item,
    .login-btn {
        width: 100%;
        text-align: left;
        color: white; /* Texto en blanco */
        padding: 15px 20px;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
    }
    
    .nav-item:hover, .login-btn:hover {
        background-color: rgba(255, 255, 255, 0.1); /* Efecto hover */
    }
}
