<body class="body">

    <div class="container">
        <div class="modal-content">
            <h2>Formulario de Productos</h2>
            <form>
                <label for="producto">Producto:</label>
                <input type="text" id="producto" name="producto" required>
    
                <label for="imagenProducto">Imagen del Producto:</label>
                <input type="file" id="imagenProducto" name="imagenProducto">
    
                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>