.body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ececec;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.create-offer-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: space-between;
}

.card-header h4 {
  margin: 0;
  text-transform: uppercase;
}

.card-body img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-secondary {
  padding: 10px 20px;
  background-color: #17a2b8;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #17a2b8;
}

.btn-danger {
  padding: 10px 20px;
  background-color: #dc3545;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Modal Styles */
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto; /* Asegura que aparezca el scroll cuando sea necesario */
  padding: 10px; /* Añadir padding para evitar que el modal quede pegado al borde */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh; /* Limitar la altura del modal para que no sobrepase la pantalla */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Activar scroll si el contenido sobrepasa la altura */
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #f00;
}

.btn-modal {
  background-color: #17a2b8;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-modal:hover {
  background-color: #1e7dd6;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.card-buttons {
  display: flex;
  gap: 10px;
}

.producto-img{
  max-width: 500px;
}
